<div class="form-group">
  <label>Name</label>
  {{input value=model.name class="form-control"}}
</div>

{{#link-to 'expenses' class="btn btn-primary"}}Done{{/link-to}}
{{#bootstrap-button target=model action='destroy' btnClass='btn-danger'}}
  Delete
{{/bootstrap-button}}
