<div class="row">
  <nav class="user-list col-xs-4 col-sm-3 col-md-2">
    {{#link-to 'expenses'}}<i class="fa fa-home"></i>{{/link-to}}
    {{#link-to 'report'}}<i class="fa fa-file-o"></i>{{/link-to}}
    <ul class="list-unstyled">
      {{#each model.users as |user|}}
        {{nav-user model=user allAccounts=model.accounts}}
      {{/each}}
    </ul>
  </nav>
  <main class="col-xs-8 col-sm-9 col-md-10">
    {{outlet}}
  </main>
</div>
